<div class="row" style="padding-top: 15vh; background: #333; border-bottom: 1px solid rgba(255,255,255,0.7); position: fixed; width: 100%; z-index: 100;">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h1 style="font-size: 70px; color: #fff;">Dashboard</h1>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="row" style="padding-top:35vh">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-3">
				<a href="/account_heads" style="text-decoration:none;">
					<div class="pane" style="text-align: right;font-size: 16px;padding: 20px 15px;background-color: coral;color: #fff; box-shadow: 0px 0px 1px 0px #fafafa; line-height: 1.3; margin-bottom:10px;">
						Add/Edit Account Heads
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="/view_by_criteria" style="text-decoration:none;">
					<div class="pane" style="text-align: right;font-size: 16px;padding: 20px 15px;background-color: coral;color: #fff; box-shadow: 0px 0px 1px 0px #fafafa; line-height: 1.3; margin-bottom:10px;">
						View Data By Criteria
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="/entries" style="text-decoration:none;">
					<div class="pane" style="text-align: right;font-size: 16px;padding: 20px 15px;background-color: coral;color: #fff; box-shadow: 0px 0px 1px 0px #fafafa; line-height: 1.3; margin-bottom:10px;">
						Add/Edit Entries
					</div>
				</a>
			</div>
			<div class="col-md-3">
				<a href="/income-statement" style="text-decoration:none;">
					<div class="pane" style="text-align: right;font-size: 16px;padding: 20px 15px;background-color: coral;color: #fff; box-shadow: 0px 0px 1px 0px #fafafa; line-height: 1.3; margin-bottom:10px;">
						View Income Statement
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>